@import '_variables';

.gameboard-wrapper {
  background-color: rgba(0,0,0,0.65);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.gameboard-container {
  $padding: 20px;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: 25px 1fr;
  width: calc(100% - ($padding*2));
  aspect-ratio: 1;
  padding: $padding;

  @media screen and (max-width: 700px) {
    width: calc(100% - $padding);
    padding: calc($padding/2);
  }
}

.gameboard-numbers {
  // background-color: red;
  grid-area: 2/1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  user-select: none;
}

.gameboard-letters {
  grid-area: 1/2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  user-select: none;
}

.side-char {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: bold;
}

.gameboard {
  grid-area: 2/2;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);

  width: calc(100% - 2px);
  height: calc(100% - 2px);

  border-top: $cell-border;
  border-left: $cell-border;
  border-right: none;
  border-bottom: none;
}

.gameboard-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  color: white;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}

.friendly-board { background: radial-gradient(rgba(0,0,0,0), rgba($friendly-blue, 0.5)); }
.enemy-board { background: radial-gradient(rgba(0,0,0,0), rgba($enemy-red, 0.5)); }

.friendly-title { color: lighten($friendly-blue, 15%); }
.enemy-title { color: lighten($enemy-red, 15%); }

.gameboard-cell {
  background-color: rgba(0,0,0,0.5);
  border-right: $cell-border;
  border-bottom: $cell-border;
  border-top: none;
  border-left: none;
  user-select: none;
}

.cell-deny {
  background-color: rgb(153,56,56,0.5);
}

.cell-accept {
  background-color: rgba(98,169,98,0.5);
}

.ship-container {
  grid-area: 2/2;
  width: 100%;
  height: 100%;
  background: none;
  pointer-events: none;
  position: relative;
}

.placed-ship-container {
  position: absolute;
  filter: invert(100%) opacity(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.placed-ship-img {
  width: 90%;
  height: 70%;
  object-fit: fill;
  user-select: none;
}