.gameboard-container {
  $padding: 20px;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: 25px 1fr;
  width: calc(100% - $padding*2);
  aspect-ratio: 1;
  background-color: rgba(0,0,0,0.65);
  padding: $padding;
  border-radius: 10px;
}

.gameboard-numbers {
  // background-color: red;
  grid-area: 2/1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  user-select: none;
}

.gameboard-letters {
  grid-area: 1/2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  user-select: none;
}

.side-char {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: bold;
}

.gameboard {
  grid-area: 2/2;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px lightgray solid;
  cursor: crosshair;
}

.friendly-board {
  background: radial-gradient(rgba(0,0,0,0), rgba(82, 82, 158, 0.5));
}

.enemy-board {
  background: radial-gradient(rgba(0,0,0,0), rgba(163, 63, 63, 0.5));
}

.gameboard-cell {
  // background-color: rgba(98, 169, 98, 0.5);
  background-color: rgba(0,0,0,0.5);
  border: 1px lightgray solid;
  // cursor: not-allowed;
}

.cell-deny {
  background-color: rgb(153,56,56,0.5);
}

.cell-accept {
  background-color: rgba(98,169,98,0.5);
}

// .cell-hover {
// }