@import './gameboard';

body {
  margin: 0;
  min-height: 100vh;
  background: url('../assets/images/map.svg'), linear-gradient(rgb(41, 64, 78), rgb(4,47,62));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  width: 100%;
  height: 50px;
  // background-color: darkslategrey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planning-wrapper {
  width: 100%;
  // background-color: red;
}

.planning-container {
  // background-color: blue;
  display: grid;
  grid-template-columns: 8.25fr 1.75fr;
  grid-template-rows: 1.25fr 8.75fr;
  grid-template-areas:
    "header header"
    "grid sidebar";
  max-width: 800px;
  gap: 20px;
  margin: 0 auto;
}

.planning-grid {
  grid-area: grid;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.planning-title {
  grid-area: header;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
  color: white;
  border-radius: 10px;

  font-weight: bold;
  font-family: monospace;
  text-align: center;
  font-size: 1rem;
}

.draggables-container {
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 1rem;
  grid-area: sidebar;
  height: 100%;
  background-color: rgba(0,0,0,0.65);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.draggable-ship {
  width: 80%;
  aspect-ratio: 1;
  background-color: rgba(0,0,0,0.5);
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 10px;
}

.ship-data {
  background-image: url('../assets/images/battleship.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 50px;;
  filter: invert(100%);
}