@import './variables';
@import './gameboard';

body {
  margin: 0;
  min-height: 100vh;
  background: url('../assets/images/map.svg'), linear-gradient(rgb(41, 64, 78), rgb(4,47,62));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  width: 100%;
  height: 50px;
  // background-color: darkslategrey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
  flex-direction: column;
}

.planning-wrapper {
  width: 100%;
  // background-color: red;
}

.planning-container {
  // background-color: blue;
  display: grid;
  grid-template-columns: 8.25fr 1.75fr;
  grid-template-rows: 0.5fr 8.75fr 1fr;
  grid-template-areas:
    "header header"
    "grid sidebar"
    "options options";
  max-width: 800px;
  gap: 10px;
  margin: 0 auto;
}

.planning-grid {
  grid-area: grid;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.planning-title {
  grid-area: header;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
  color: white;
  border-radius: 10px;

  font-weight: bold;
  font-family: monospace;
  text-align: center;
  font-size: 1rem;
}

.planning-options {
  grid-area: options;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;

  & button {
    background-color: rgba(0,0,0,0.5);
    border: 2px solid rgba(255,255,255,0.5);
    height: 60%;
    width: 20%;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: 0.2s;
    }
  }
}

.planning-btn-green {
  $green: rgba(78, 193, 21, 0.5);
  border-color: $green !important;
}

.planning-btn-grey {
  $grey: rgba(182, 182, 182, 0.5);
  border-color: $grey !important;
  color: $grey !important;
}

.draggables-container {
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 1rem;
  grid-area: sidebar;
  height: 100%;
  background-color: rgba(0,0,0,0.65);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.draggable-ship {
  width: 80%;
  aspect-ratio: 1;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: grab;
}

.draggable-ship:hover .ship-img {
  filter: invert(100%);
}

.ship-img {
  width: 70%;
  height: 30%;
  filter: invert(50%);
}

.ship-img-1 { background: url('../assets/images/carrier.svg') no-repeat center; }
.ship-img-2 { background: url('../assets/images/battleship.svg') no-repeat center; }
.ship-img-3 { background: url('../assets/images/cruiser.svg') no-repeat center;}
.ship-img-4 { background: url('../assets/images/submarine.svg') no-repeat center; }
.ship-img-5 { background: url('../assets/images/destroyer.svg') no-repeat center; }

.ship-name {
  font-weight: normal;
  margin: 5%;
  font-size: 0.75rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

.game-wrapper {
  width: 100%;
}

#p1-gameboard {
  grid-area: boardOne;

  @media screen and (max-width: 700px) {
    width: 50%;
    height: 100%;
  }
}

#p2-gameboard {
  grid-area: boardTwo;
}

.game-container {
  gap: 10px;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "boardOne boardTwo";

  @media screen and (max-width: 700px) {
    grid-template-columns: 0.9fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "boardOne"
      "boardTwo";
  }
}

@media screen and (max-width: 900px) {
  .game-wrapper .gameboard-wrapper {
    border-radius: 5px;
  }

  .game-container {
    gap: 5px !important;
  }
}

@media screen and (max-width: 700px) {
  .planning-container {
    gap: 2px !important;
  }
}