@import './gameboard';

body {
  margin: 0;
  min-height: 100vh;
  background: url('../assets/images/map.svg'), linear-gradient(rgb(41, 64, 78), rgb(4,47,62));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  width: 100%;
  height: 50px;
  // background-color: darkslategrey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ship-planning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.planning-grid {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.planning-title {
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-family: monospace;
  font-size: 1rem;
}

.draggables-container {
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}