body {
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  background-color: darkslategrey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  width: 500px;
  height: 500px;
  // border: 1px lightgray solid;
}

.gameboard-cell {
  border: 1px lightgray solid;
  border-radius: 4px;
  cursor: crosshair;
}